doctype html
html
  head
    meta(charset='utf-8')
    title p5 Manager
    link(rel='stylesheet' type='text/css' href='/assets/style.css')
    script(src='/assets/vue.min.js')
    script(src='/assets/jquery-3.2.0.min.js')
    
  body
    #app
      split-view.split-view.split-view--left
      split-view.split-view.split-view--right
    
    script(type='text/x-template' id='split-view-template').
      <div>
        <div class="sidebar" v-bind:class='{"sidebar--active": sidebarActive}'>
          <button class="toggle" v-bind:class='{"toggle--active": sidebarActive}' v-on:click='toggle'>
            <img src="/assets/star.png" />
          </button>
          <h2><a href="/"> {{collectionName}} </a></h2>
          <ul>
            <li v-for='(project, index) in projects'>
              <a href="#" v-on:click="projectClicked(project)"> {{project}} </a>
            </li>
          </ul>
        </div>
        <iframe class="iframe-split" width="100%" scrolling="no" v-bind:src="iframesrc"></iframe>
      </div>
        
    script(src='/assets/split-view.js')
