 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: 'Avenir Next', 'Avenir', Helvetica, 'Helvetica Neue', Futura, Arial;
  text-align: center;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover, a:active {
  color: #555;
}

a.active {
  color: #f07;
}

code {
  font-size: 16px;
  color: #f07;
  padding: 5px;
}

iframe {
  border: none;
  height: 100%;
}

#sidebar {
  position: absolute;
  z-index: 10;
  left: -200px;
  top: 0;
  background-color: #f5f5f5;
  width: 200px;
  height: 100%;
  text-align:left;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#sidebar.sidebar--active {
  left: 0;
}

#sidebar h2 {
  padding-top: 15px;
  padding-left: 30px;
}

#sidebar h2 a {
  color: #333;
}

#sidebar ul {
  list-style: none;
  padding-left: 30px;
}

.about {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  font-size: 14px;
  padding-left: 30px;
}

.about p {
  margin-top: 0;
  color: #999;
}

.about .twitter {
  color: #f07;
}

#toggle {
  position: absolute;
  left: 220px;
  top: 30px;
  background-color: transparent;
  border: none;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#toggle:hover {
  cursor: pointer;
}

#toggle:focus {
  outline: none;
}

#toggle.toggle--active {
  -ms-transform: rotate(144deg); /* IE 9 */
  -webkit-transform: rotate(144deg); /* Chrome, Safari, Opera */
  transform: rotate(144deg);
}

#toggle img {
  width: 30px;
}

.wrapper {
  margin: auto;
  display: inline-block;
  padding-top: 70px;
  text-align: left;
}

.wrapper h1 {
  font-size: 80px;
  color: #f07;
  margin-bottom: 0px;
}

.wrapper .magic {
  position: relative;
  font-size: 18px;
  color: #f07;
  margin-top: -10px;
  padding-bottom: 15px;
}

.wrapper h3 {
  color: #666;
  margin-top: 40px;
  margin-bottom: 0px;
}

.wrapper ol{
  font-size: 16px;
  color: #666;
  padding-left: 0px;
  margin-top: 0;
}

.wrapper li {
  margin-top: 8px;
}

.wrapper a {
  color: #f07;
}

.wrapper p:after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #f07;
  height: 2px;
  bottom: 0px;
  left: 0;
}

.collection {
  margin-top: 30px;
}